//ocean

@color-dark-original:#47658e;
@color-base-original:#173d71;
@color-badges-original: #bbc7d6;
@color-title-border-original:#4f5459;
@color-bubble2-original:#2c2c30;
@color-bubble1-original:#03332b;
@color-feed-original:#efeee2;
@color-feed2-original:#c1ccb2;
@color-following-original:#373737;
@color-follower-original:#818181;
@color-friends-original:#b6b7b7;
@color-top-list-border-original:#4f5459;
@color-back:#E7EBF2; //#f1f6fc;

