//original green

@color-dark-original:#006600;
@color-base-original:#669934;
@color-badges-original: #DFEBD5;
@color-title-border-original:#ff3366;
@color-bubble2-original:#267675;
@color-bubble1-original:#3398cc;
@color-feed-original:#eeeeee;
@color-feed2-original:#cccccc;
@color-following-original:#ff6600;
@color-follower-original:#993365;
@color-friends-original:#fe0032;
@color-top-list-border-original:#333;
@color-back:#f5fff6;

