@color-dark-green:#001100;
@color-light-green:#665534;
@color-olive: #DF55D5;
@color-pink:#ff5566;
@color-dark-cyan:#265575;
@color-cyan:#3355cc;
@color-light-gray:#ee55ee;
@color-dark-gray:#cc55cc;
@color-orange:#ff5500;
@color-purple:#995565;
@color-strong-pink:#fe5532;
@color-text-gray:#353;
@color-white:white;