@import url('/bootstrap/css/bootstrap.css');
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: white !important;
}
.navbar .nav li a,
a {
  color: #3B5998;
  text-shadow: none;
  cursor: pointer;
}
.navbar .nav li a:hover,
a:hover {
  color: #0a1b31;
  text-shadow: none;
}
.navbar-inner {
  background: white;
  box-shadow: none;
}
.navbar .nav li a {
  padding: 20px 20px 12px;
  font-size: 15px;
}
.navbar .brand {
  padding: 1px 17px 1px;
}
.brand img {
  width: 100px;
}
table.fanpage {
  margin-bottom: 0px;
}
table.fanpage th,
table.fanpage td {
  border-top: 0px;
  vertical-align: middle;
  padding: 8px 0;
}
table.fanpage tbody tr:hover td {
  background: #DCEDF7;
}
table.fanpage img {
  margin: 5px ;
}
[role="main"] {
  margin-top: 60px;
}
.upgrade ul,
ol {
  margin: 0 0 0 0;
}
.upgrade .nav {
  margin-bottom: 0px;
}
.upgrade .dropdown-toggle:hover .caret {
  border-top-color: black;
  border-bottom-color: black;
}
.upgrade .dropdown-toggle .caret {
  border-top-color: grey;
  border-bottom-color: grey;
}
.container {
  width: 940px;
}
.box {
  background-color: #fcfcfc;
  background-image: -moz-linear-gradient(top, #ffffff, #f7f7f7);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f7f7f7));
  background-image: -webkit-linear-gradient(top, #ffffff, #f7f7f7);
  background-image: -o-linear-gradient(top, #ffffff, #f7f7f7);
  background-image: linear-gradient(to bottom, #ffffff, #f7f7f7);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff7f7f7', GradientType=0);
  border: 1px solid #DDD;
  padding: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
select,
label,
input[type="text"] {
  margin-bottom: 0px;
}
.processing {
  float: right;
}
.info {
  float: left;
}
.length {
  float: right;
}
.filter {
  float: left;
}
#topFanTable_next {
  padding-left: 2px;
}
#topFanTable_previous {
  padding-right: 2px;
}
.widget {
  position: relative;
  list-style: none;
  margin: 0;
  margin-top: -68px;
  left: 770px;
}
.widget li {
  padding: 5px;
  display: block;
  background-color: #fcfcfc;
  background-image: -moz-linear-gradient(top, #ffffff, #f7f7f7);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f7f7f7));
  background-image: -webkit-linear-gradient(top, #ffffff, #f7f7f7);
  background-image: -o-linear-gradient(top, #ffffff, #f7f7f7);
  background-image: linear-gradient(to bottom, #ffffff, #f7f7f7);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff7f7f7', GradientType=0);
  border: 1px solid #DDD;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 5px;
  width: 150px;
}
.widget .label {
  float: right;
}
.popover-inner {
  width: 323px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 5px solid #c1cee0;
  padding: 0;
  background-color: #c1cee0;
}
.popover-title {
  display: none;
}
.popover-content {
  padding: 0;
}
.popover-content .post-container .user {
  overflow: visible;
}
.popover-content .level {
  float: right;
  text-align: center;
  font: bold 20px/25px Arial, Helvetica, sans-serif;
  color: #47658e;
  width: 25px;
  height: 25px;
  border: 3px solid #47658e;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  position: relative;
  top: -45px;
}
.popover-content .post .date {
  font-size: 11px;
  float: Right;
}
.popover-content h5 {
  display: inline;
}
.popover.top .arrow {
  border-top: 5px solid #c1cee0;
}
.popover.left .arrow {
  border-left: 5px solid #c1cee0;
}
.popover.right .arrow {
  border-right: 5px solid #c1cee0;
}
.popover.top {
  margin-left: 0px;
  margin-top: -10px;
}
.popover.left {
  margin-left: 0;
  margin-top: 0;
}
.post-container .user {
  font: bold 11px Helvetica, Arial, sans-serif;
  border-bottom: 1px solid #e5e5e5;
  padding-top: 10px;
  margin: 0 10px 0 10px;
  overflow: hidden;
}
.post-container .user .user-badge {
  position: absolute;
  top: 13px;
  left: 50px;
}
.post-container .user .name {
  position: relative;
  top: -13px;
  left: 37px;
}
.post-container .post {
  padding: 10px;
}
