@import url('/bootstrap/css/bootstrap.css');
@import url('/bootstrap/less/mixin.less');

@color-background-blue: 			#E7EBF2; // background color, follow hover, tip border
@color-container-blue: 				#C1CEE0; // container blue
@color-link-blue: 					#3B5998; // links color
@color-link-hover:					#0a1b31;	//link hover
@color-tab-border-blue:				#173D71; // tab dark blue, rank first, follow text hover,button hover , fan exp bar
@color-tab-back-blue:				#47658E; // unselected blue, rank numbers , button text, tip, other exp bars
@color-tab-hover:					#eeeeee; // the hover color
@color-photo-border-blue:			#7D98BE; // the border on the icons, follow button
@color-social-bar-blue:				#EDEFF4; // social bar color
@color-user-border-gray:			#E5E5E5;//flag bottom border color
@color-text:						#666666; //text color
@color-post-border-thing:			#8194BD; //post border
@color-post-border-hover-thing:		#5a6d99;
@color-post-shadow-thing:			#A5B4CE;
@color-post-hover:					#f7f7f7; // the color of the post on hover
@color-post:						#ffffff;
@color-admin:						#09937C;
@color-unfollow:					#BD362F;
@color-following:					#56A556;
@color-you:							#F7CB1E;
@color-link:						#F6F7F9; //color of link box
@color-link-border:					#D3DAE8; // the border of the link
@color-button:						#dddddd; //post button back
@color-rank-border:					#C4CDE0; //ranking border


//////////////////////////////////////////////////////////////////////////////////////////////////////////////
//main 
@color-main-background: 				@color-background-blue;
@color-main-header-picture-border: 		@color-photo-border-blue;
@color-main-container: 					@color-container-blue;
@color-main-text: 						@color-text;
@color-main-link-text: 					@color-link-blue;
@color-main-link-text-hover: 			@color-link-hover;
@color-main-content: 					@color-post;
@color-main-split-line:					@color-container-blue;
@color-main-title-text:					@color-post;

//tabs
@color-tab-background:					@color-tab-back-blue;
@color-tab-text:						@color-post;
@color-tab-border:						@color-tab-back-blue;
@color-tab-border-bottom:				@color-tab-border-blue;
@color-tab-border-bottom-hover:			@color-tab-hover;
@color-tab-background-hover:			@color-tab-hover;
@color-tab-border-hover:				@color-tab-hover;
@color-tab-text-hover:					@color-tab-border-blue;
@color-tab-select-background:			@color-background-blue;
@color-tab-select-text:					@color-tab-border-blue;
@color-tab-select-border:				@color-tab-border-blue;
@color-tab-select-border-bottom:		@color-background-blue;

//tips
@color-tip-border:						@color-post;
@color-tip-background:					@color-tab-back-blue;
@color-tip-question-mark:				@color-post;
@color-tip-background-hover:			@color-post;
@color-tip-question-mark-hover:			@color-tab-back-blue;
@color-tip-border-hover:				@color-tab-back-blue;

//rank
@color-ranking-first:					@color-tab-border-blue;
@color-ranking-numbers:					@color-tab-back-blue;
@color-ranking-border:					@color-rank-border;
@color-ranking-number-text:				@color-post;
@color-ranking-border-hover:			@color-rank-border;
@color-ranking-numbers-hover:			@color-tab-back-blue;
@color-ranking-background:				@color-post;


//badges
@color-badge-text:						@color-post;
@color-badge-admin:						@color-admin;
@color-badge-follow:					@color-photo-border-blue;
@color-badge-follow-hover:				@color-background-blue;
@color-badge-follower:					@color-background-blue;
@color-badge-you:						@color-you;
@color-badge-following:					@color-following;
@color-badge-unfollow:					@color-unfollow;

//posts
@color-post-background:					@color-post;
@color-post-border:						@color-post-border-thing;
@color-post-text:						@color-text;
@color-post-social-background:			@color-social-bar-blue;
@color-post-user-border:				@color-user-border-gray;
@color-post-background-hover:			@color-post-hover;
@color-post-border-hover:				@color-post-border-hover-thing;
@color-post-shadow:						@color-post-shadow-thing;
@color-post-link-background:			@color-link;
@color-post-link-border:				@color-link-border;

//buttons
@color-more-button:						@color-tab-hover;
@color-more-button-text:				@color-tab-back-blue;
@color-more-button-hover:				@color-tab-border-blue;			
@color-more-button-text-hover:			@color-post;
@color-more-button-border:				@color-container-blue;

@color-post-button:						@color-button;
@color-post-button-hover:				@color-tab-border-blue;
@color-post-button-text:				@color-tab-back-blue;			
@color-post-button-text-hover:			@color-post;

@color-userlist-button:					@color-tab-hover;
@color-userlist-button-hover:			@color-tab-border-blue;
@color-userlist-button-text:			@color-tab-back-blue;
@color-userlist-button-text-hover:		@color-post;


//userlist
@color-userlist-background:				@color-background-blue;
@color-userlist-border:					@color-post;


//scrollbar 
@color-scrollbar : 						@color-tab-border-blue;

//my profile
@color-level-border:					@color-tab-back-blue;
@color-level-background:				@color-post;
@color-level-text:						@color-tab-back-blue;
@color-fan-experience-bar :				@color-tab-border-blue;
@color-overall-achievement-bar:			@color-tab-back-blue;
@color-personal-achievement-bar:		@color-tab-back-blue;
@color-social-achievement-bar:			@color-tab-back-blue;
/////////////////////////////////////////////////////////////////////////////////////////////////////////

.row{
	padding-left:3px;
}

.span12 {
 width: 804px;
}
.span11 {
 width: 737px;
}
.span10 {
 width: 668px;
}
.span9 {
 width: 599px;
}
.span8 {
 width: 530px;
}
.span7 {
 width: 461px;
}
.span6 {
 width: 392px;
}
.span5 {
 width: 323px;
}
.span4 {
 width: 253px;
}

.span3 {
 width: 184px;
}
.span2 {
 width: 116px;
}
.span1 {
 width: 47px;
}
/////////////////////////////////////////////////////////////////////////////////////////////////////////


body{
	background-color:			@color-main-background;
	color:						@color-main-text;
	font: 						11px, Helvetica, Arial sans-serif;
}

a, 
a:visited,
.time{
	color:						@color-main-link-text;
	cursor:						pointer;
}

a:hover{
	color:						@color-main-link-text-hover;
	text-decoration:			underline;
}

.container,
.navbar-fixed-top
.container {
	width: 810px;
}

#content{
	position:relative;
	top:-36px;
}

ul, ol { 
	list-style-type:none;
	margin:0; 
	padding:0; 
}

#logo{
	display:block;
	max-height:300px;
	min-height:100px;
	width:810px;
	overflow:hidden;
}

#logo img{
	width:810px;
	position:relative;
	top:0px;
}


/////////////////////////////////////////////////////////////////////////////////////////////////////////////

.nav-tabs,
.nav-tabs:hover{
	border-bottom:0px;
}

.nav-tabs .active  a, 
.nav-tabs .active a:hover{
	border:						1px solid @color-tab-select-border;
	border-bottom-color:		@color-tab-select-border-bottom;
	background-color:			@color-tab-select-background;
	color:						@color-tab-select-text;
	
}

.nav-tabs li a{
	color:						@color-tab-text;
	border-bottom:				1px solid @color-tab-border-bottom;
	background-color:			@color-tab-background;
	
}

.nav-tabs li a:hover{
	color:						@color-tab-text-hover;
	border:						1px solid @color-tab-border;
	background-color:			@color-tab-background-hover;
	border-bottom-color:		@color-tab-border-bottom-hover;
	
}

#logoutBtn{
	width:100%;
	text-align:right;
}

.login{
	height:50px;
}

#log-in-out{
	position:absolute;
	right:0px;
}


////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.tip {
  position: relative;
  z-index:2;
  float:right;
  top:-27px;
  right:10px;
  
}
 .tip a {
  background: none repeat scroll 0 0 @color-tip-background;
  border: 1px solid @color-tip-border;
  color: @color-tip-question-mark;
  display: block;
  font: bold 16px/100% Helvetica, Arial,  sans-serif;
  height: 20px;
  padding: 3px 5px 0;
  width: 10px;
}

 .tip a:hover {
  background-color: @color-tip-background-hover;
  border: 1px solid @color-tip-border-hover;
  color: @color-tip-question-mark-hover;
  text-decoration:none;
}

.tooltip-inner{
	background-color:#333;

}
.tooltip.in {
  opacity: .95;
  filter: alpha(opacity=95);
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.row.box{
	background-color: @color-post;
	border:1px solid @color-main-container;
	.border-radius(3px);
	padding-top:3px;
	margin-left:0;
	padding-bottom:3px;
	.box-shadow(2px 2px 2px 1px @color-post-shadow);
	overflow:hidden;
}

#top-fans .row.box{
	padding:3px;
	.border-radius(0);
	margin-top:-10px;
	border:5px solid @color-main-container;
	.box-shadow(0 0 0 0 white);
	
}

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.top-list{
	position:relative;
	width:100%;
	max-height:223px;
	overflow:hidden;
}


.top-list .in{
	border-top: 0px;
		
}

.top-list li{
	padding: 0px;
}

.top-list .ranker{
	border-top: 1px solid @color-ranking-border;//@color-feed;
	background-color: @color-post;
	height:55px;
}

.top-list .ranker.first{
	border-top: 0px solid ;
}

.top-list .rank{
	display:inline-block;
	width:55px;
	height:55px;
	background-color:@color-ranking-numbers;
	float:left;
}

.top-list .rank.first{
	background-color:@color-ranking-first;
}


.top-list .rank h1,
.top-list .rank h2{
	color: @color-ranking-number-text;
	text-align:right;
	width:55px;
	position:relative;
	line-height:55px;
	font: bold 60px Helvetica, Arial, sans-serif;
}

.top-list .rank h1{
	right:-4px;
}

.top-list .rank h2{
	font: bold 45px;
}

.top-list .rank h3{
	font: bold 35px;
}

.top-list .photo{
	
	display:inline-block;
	position:relative;
	margin-left:5px;
	top:5px;
	margin-top:0px;
	float:left;
	
}



.top-list .photo img{
	border: 5px solid white;
}

.top-list .name{
	position:relative;
	left:10px;
	top:17px;
	float:left;
	font:  18px Helvetica, Arial,  sans-serif;
}

.top-list .name.first{
	font: 23px/100%  Helvetica, Arial, sans-serif;
}

.top-list .points{
	float:right;
	position:relative;
	top:5px;
	width:100px;
}

.top-list .points h3{
	display:inline-block;
	font-size:25px;
}

#top-fans .top-list .points{
	top:15px;
}



.btn-top{
	width:100%;
	height:40px;
	font-size:11px;
	color:@color-more-button-text;
	background-color:@color-more-button;
	font-weight:bold;
	line-height:30px;
	.border-radius(0px 0px 3px 3px);
	border:solid 5px @color-more-button-border;
	border-top:2px;
	margin-bottom:1px;
}

.btn-top:hover{
	background-color:@color-more-button-hover;
	color:@color-more-button-text-hover;
}
