@import "global.less";

.navbar-inner {
	background-image: none !important;
	background-color: white !important;
	color: white;

	a {
		color: @red !important;

		&:hover {
			color: #CCC !important;
		}

		&.brand {
			position: fixed;

			img {
				height: 40px;
			}
		}
	}
}

[role="main"] {
	margin-top: 60px;
}


@import "dashboard/index.less";
@import "dashboard/fanpages.less";