@import url('/bootstrap/css/bootstrap.css');


@import url('/bootstrap/less/mixin.less');

@gridColumnWidth:50px;
@gridGutterWidth:15px;

@color-base:@color-base-original;
@color-dark:@color-dark-original;

@color-title-border:@color-title-border-original;
@color-top-list-border: @color-top-list-border-original;
@color-hover:@color-dark-original;

@color-background:@color-white;

@color-bubble1: @color-bubble1-original;
@color-bubble2: @color-bubble2-original;

@color-follow: @color-bubble1-original;
@color-follower: @color-follower-original;
@color-following:@color-following-original;
@color-friends:@color-friends-original;

@color-feed:@color-feed-original;
@color-feed2:@color-feed2-original;

@color-title-text:@color-white;
@color-text:@color-white;
@color-text2:@color-top-list-border-original;

@color-badges:@color-badges-original;




a, a:visited{
	color:@color-base;
}

#recent_activities a, 
#recent_activities a:visited{
	font-weight:bold;
}

a:hover{
	color:@color-dark;
}

body{
	background-color:@color-background;
}

#content{
	position:relative;
	top:-36px;
}

.icon-star{
	vertical-align:middle;
	line-height:40px;
}

ul, ol { 
	list-style-type:none;
	margin:0; 
	padding:0; 
}

/* NAVIGATOR */

/*==================================================*/

.nav-tabs{
	border-bottom:0px;
	//border-bottom:1px solid @color-dark;
}

.nav-tabs .active  a, .nav-tabs .active a:hover{
	border:1px solid @color-dark;
	border-bottom-color:@color-background;
	color:@color-dark;
}

.nav-tabs li a{
	color:white;
	border-bottom:1px solid @color-dark;
	background-color:@color-base;
}

.nav-tabs li a:hover{
	color:@color-base;
}


/* TITLES */

/*==================================================*/

.title, 
.subtitle,
.subtitle-dark{
	height:80px;
	background-color:@color-background;
	padding-bottom:10px;
}

.title .photo{
	
	z-index:2;
	display:inline-block;
	width:70px;
	height:70px;
	background-color:white;
	position:absolute;
	border: 5px solid @color-dark;
	
}

.photo{
	.border-radius(3px);
}
.title .photo img{
	border: 5px solid @color-background;
	width:60px;
	height:60px;
}

.title-header,
.title-header-dark
{
	display:inline-block;
	//background-color:@color-base;
	width:100%;
	height:30px;
	margin-top:25px;
	margin-bottom:30px;
	.border-radius(5px 0 0 5px);
	#gradient > .horizontal(@color-base, @color-background );
}

.title-header-dark{
	.border-radius(5px 0 0 5px);
	#gradient > .horizontal(@color-base, @color-background );
	//background-color:@color-dark;
}

.title h3, 
.subtitle h3{
	margin-left:85px;
	color:@color-text;
	line-height:30px;
}

.subtitle h3{
	margin-left:10px;
}

/* TOP POSTS BUBBLES */

/*==================================================*/

/***** Common Classes ******/

.bubble {
	margin-left:0px;
	margin-top:10px;
	font:12px Arial, Helvetica, sans-serif;

}

.bubble li {
	padding-top:20px;
	margin-bottom:10px;
	background:url(../img/news-feed/bg-bubble-top.png) top center no-repeat;
	background-size:100%;
}

.bubble .post {
	padding:0 20px;
	color:@color-text;	
}

.bubble .post a {
	display:block;
	color:@color-text;

}

.bubble .post .date {
	font-size:11px;	
}

.bubble .post a:hover {
	color:@color-text;
	text-decoration:none;
}

.bubble .info {
	position:relative;
	font-weight:bold;
	
}

.bubble .likes {
	font-weight:normal;	
}

.bubble .photo {
	position:absolute;
}

.bubble .photo img {
	width:30px;
	height:30px;	
}

.bubble .post img{
	display:block;	

	margin-left:auto; 
	margin-right:auto; 	
}



/***** Chat Right Bubbles ******/

.bubble .chat-right {
	background-color:@color-bubble1; /* DYNAMIC */
}

.bubble .chat-right .info {
	background:url(../img/news-feed/bg-bubble-bottom-right.png) top center no-repeat;
	background-size:100%;
}

.bubble .chat-right .name {
	padding:27px 73px 0 0;
	text-align:right;
}

.bubble .chat-right .photo {
	top:30px;
	right:40px;
}

/***** Chat Left Bubbles ******/

.bubble .chat-left {
	background-color:@color-bubble2; /* DYNAMIC */
}

.bubble .chat-left .info {
	background:url(../img/news-feed/bg-bubble-bottom-left.png) top center no-repeat;
	background-size:100%;	
}

.bubble .chat-left .name {
	padding:27px 0 0 73px;
	text-align:left;

}

.bubble .chat-left .photo {
	top:30px;
	left:40px;
}

.grey-light {
	#gradient > .vertical(lighten(@color-badges, 10%), @color-background);
	//background:@color-feed;	
	border-bottom: solid 2px @color-badges;
}

.grey-dark {
	#gradient > .vertical(lighten(@color-badges, 10%), @color-background);
	//background:@color-feed2;	
	border-bottom: solid 2px @color-badges;
}

/* POST LISTINGS */

/*==================================================*/

.post-list {
	padding-top:10px;
	//padding-bottom:20px;	
}

.post-list li {
	padding:10px;

}

.post-list .photo {
	float:left;
}

.post-list .photo img {
	width:32px;
	height:32px;	
}

.post-list .post {
	float:left;	
	width:85%;
	margin-left:10px;
	
}
.post{
	padding-top:5px;
	padding-bottom:5px;

}
.post-list .post img {
	//max-width:100%;
	//display:block;	

	margin-left:auto; 
	margin-right:auto; 
}

.post .message{
	width:100%;
	display:block;
	word-wrap:break-word;
}

.post .pic img {
	display:block;
}

.post-list .post a:hover {
	text-decoration:none;
}

.post-list .name {
	font-weight:bold;	
	font-size:14px;
	margin-left:10px;
	float:left;
	line-height:30px;
}


.post-list .social {
	clear:both;
	padding:5px 0 0 40px;
	text-align:right;
}

.post-list .likes {
	margin-left:5px;	
}

.post-list .comment {
	margin-left:5px;		
}

.post-list .date{
	color:lighten(@color-text2, 15%);
	margin-right:4px;
}

.post-list .link-left{
	float:left;
	width:25%;
}

.post-list .link-right{
	float:right;
	width:75%
}	

/* TOP LISTS */
/*==================================================*/

.top-list{
	position:relative;
	top:10px;
	//min-height:0px;
	//border-left: 1px solid @color-feed;
	//border-right: 1px solid @color-feed;
	width:100%;
	max-height:283px;
	overflow:hidden;

}

.top-list .in{
	border-top: 0px;
		
}

.top-list li{
	padding: 0px;
}

.top-list .border-light,
.top-list .border-dark{
	border-top: 1px solid @color-feed;
	//width:533px;
	display:block;
	#gradient > .horizontal(@color-feed, @color-background );
	height:70px;
}

.top-list .border-light{
	background-color:@color-background
}

.top-list .border-dark{
	background-color:@color-feed;
}

.top-list .rank{
	display:inline-block;
	width:70px;
	height:70px;
	background-color:@color-base;
	float:left;
}

.top-list .rank.first{
	background-color:@color-dark;
}

.top-list .rank h1{
	
	//background:url(../img/icon_pound.png) top left no-repeat;
	color: @color-feed;
	font: bold 79px Arial, Helvetica, sans-serif;
	text-align:right;
	width:70px;
	position:relative;
	line-height:70px;
	
	right:-4px;

}



.top-list .photo{
	
	display:inline-block;
	position:relative;
	margin-left:5px;
	//border: 5px solid @color-feed;
	top:5px;
	//vertical-align:middle;
	//margin-top:-20px;
	margin-top:0px;
	float:left;
}

.top-list .photo img{
	border: 5px solid @color-feed2;
}

.top-list .name{
	position:relative;
	margin-left:10px;
	display:inline-block;
	top:12px;
	//vertical-align:middle;
	float:left;
}


.top-list .name a:hover{
	color: @color-dark;
}

.top-list .name a{
	font: bold 18px Arial, Helvetica, sans-serif;
	color: @color-base;
}

.top-list .name a.first{
	font: bold 22px/100% Arial, Helvetica, sans-serif;
}

.top-list .points{
	float:right;
	//display:inline-block;
	position:relative;
	right:15px;
	top:19px;
	//vertical-align:bottom;
	color:@color-text2;

}

.top-list .points h3{
	display:inline-block;
	font-size:35px;
}

.top-list .points span{
	
	display:inline-block;
	line-height:15px;
}

.shadow{

	height:50px;
	//background:url(../img/bg_shadow.jpg) top center no-repeat;
	text-align:center;
	
}

#top-fans .shadow{
	margin-top:10px;
	
}


.badge-You.big,
.badge-Follower.big,
.badge-Friends.big,
.badge-Follow.big,
.badge-Following.big,
.big{
		position:relative;
		top:5px;
		line-height:23px;
		font-size:23px;
}

.badge-Follow{
	font-size:13px;
	background-color:@color-follow;
}

.badge-Following{
	font-size:13px;
	background-color:@color-following;
}

.badge-Friends{
	font-size:13px;
	background-color:@color-friends;
}
.badge-Follower{
	font-size:13px;
	background-color:@color-follower;
}

.badge-You{
	font-size:13px;
	background-color:@color-text2;
}


/*tips*/
.tip {
  position: relative;
  z-index:2;
  float:right;
  top:-27px;
  right:10px;
  
}
 .tip a {
  background: none repeat scroll 0 0 @color-base;
  border: 1px solid @color-background;
  color: white;
  cursor: pointer;
  display: block;
  font: bold 16px/100% Arial, Helvetica, sans-serif;
  height: 20px;
  padding: 3px 5px 0;
  text-decoration: none;
  width: 10px;
}
 .tip a:hover {
  background: none repeat scroll 0 0 @color-badges;
  border: 1px solid @color-dark;
  color: @color-dark;
}


/* my profile */
/*==================================================*/

.profile-block{
	height:80px;
}

.profile-block h1{
	text-align:center;
	font-size:40px;
	color:@color-title-border;
}

.profile-block h5 , .profile-block h4{
	text-align:center;
	width:100%;
}


.profile-block h4{
	padding-top:6px;
}

.profile-block.following{
	float:left;
	background-color:@color-following;
	width:137px;
	margin-left:19px;
	color:white;

}

.profile-block.followers{
	float:left;
	background-color:@color-follower;
	width:137px;
	color:white;

}

.profile-block.friends{
	float:left;
	background-color:@color-friends;
	width:138px;
	color:white;


}


.profile-block.fan-point .progress{
	width:90%;
	height:25px;
	margin-bottom:5px;

}
.profile-block.fan-point .progress .bar{
	height:25px;
	background-color: @color-dark;
	background-image :none;
}

.profile-block .progress .bar{

	background-color: @color-base;
	background-image :none;
}



.span6.left{
	width:412px;
	background-color:@color-feed;
	border-top: 1px solid @color-feed2;
	border-bottom: 1px solid @color-feed2;
	border-left:1px solid @color-feed2;
	margin-top:10px;
}

.span6.right{
	margin-left:0px;
	border-top: 1px solid @color-feed2;
	border-bottom: 1px solid @color-feed2;
	border-right: 1px solid @color-feed2;
	margin-top:10px;
	background-color:@color-feed2;
}

.row.border{
	border-top: 1px solid @color-feed2;
	border-bottom: 1px solid @color-feed2;
	margin-top:10px;
	

}

.text-title{
	margin-top:10px;
	font: bold 14px/100% Arial, Helvetica, sans-serif;
	color: @color-dark;
}

.text-title.gray{
	color: @color-text2;
}


/*---BADGES---*/
/*============================================*/

.badges-list {
	margin-top:10px;
	border-left: 1px solid @color-feed;
	border-right: 1px solid @color-feed;
	border-top: 1px solid @color-feed;
}

.badges-list li{
	border-bottom: 1px solid @color-feed;
}

.badges-list .percentage{
	display:inline-block;
	padding-left:10px;
	
}

.badges-list .photo{
	display:inline-block;
	padding-left:10px;
	
}	
.badges-list .stats{
	display:inline-block;
	padding-left:10px;
	
}	

.badges{
	z-index:2;
	position:absolute;
	
}

.badges-list .progress .bar{
	height:50px;
	background-color: @color-badges;
	background-image :none;
	
}
.badges-list .progress{
	height:50px;
	margin-bottom:0px;
}



/* awards */

/*==================================================*/

.awards-pic{
	height:300px;
}

.awards{
	height:80px;
	background-color:@color-feed;
}


/* OTHER USER PROFILE LIGHT BOX */
/*==================================================*/

.user-profile{
	z-index:50;
	position:absolute;
	display:block;
	width:671px;
	height:700px;

	margin-left:85px;
	margin-right:60px;
	margin-top:20px;
	display:none;
}

/*
.top-border{
	position:relative;
	top:350px;
	width:642px;
	height:350px;

	background-color:@color-base;
	display:none;
}

.bottom-border{
	position:relative;
	top:350px;
	width:642px;
	height:350px;
	background-color:@color-base;
	display:none;
}
*/

.profile-content{
	border: 10px solid @color-base;
	z-index:51;
	padding:5px;
	width:602px;

	height:660px;
	position:absolute;
	top:350px;
	left:10px;
	background-color:@color-background;
	display:none;
}


.light-box{
	display:block;
	position:fixed;

	left:0;
	bottom:0;
	background-color:rgba(0,0,0,0.7);
	z-index :25;
	width:100%;
	min-height:100%;
	display:none;
}

.closeProfile{
	position:absolute;
	right:2px;
	top:2px;
	background:url(../img/close.png) top left no-repeat;
	height:20px;
	width:20px;
	display:block;
	z-index:100;
}

.feed_moreComments,
#moreComments{
	text-align:center;
	
}

#logo{
	display:block;
	height:300px;
	width:810px;
	overflow:hidden;
}


#header{
	background:url(../img/header.jpg) top left no-repeat;
}

#logo img{
	width:810px;
	position:relative;
}

#logoutBtn{
	width:100%;
	text-align:right;
}

#powered{
	display:block;
	text-align:right;
	width:810px;
	font-weight:bold;
}

.comments{
	margin-left:30px;
	display:none;
	width:90%;
}

.popup_comments{
	margin-left:30px;

	//width:90%;
}
.popup_comments .grey-dark,
.popup_comments .grey-light,
.comments .grey-light,
.comments .grey-dark{
	background-color:@color-background;
	background-image:none;

	border-bottom: 1px solid @color-badges;
}

.comment_container{
	//width:100%;
	margin-left:-10px;

}

#post_box,
.comment_box_popup,
.comment_box{

	width:80%;
	resize: none; 
	overflow:hidden;
	
}

.comment_box_popup{
	margin-left:45px;
	width:75%;
}

#post_box{
	width:80%;
}

.submit_box{
	margin-left:5px;
}
.btn-submit,
.btn-top{
	#gradient > .vertical(@color-badges, @color-background );
	//background-color:red;
	width:100%;
	height:40px;
	
	border:0px;
	border-top:solid 1px @color-badges;

	color:@color-base;
	font-weight:bold;
}
.btn-submit:hover,
.btn-top:hover{
	
	#gradient > .vertical(darken(@color-badges, 15%), @color-background );
	
	
}

.btn-submit{
	width:50px;
	height:50px;
	.border-radius(3px);
}



.login{
	position:relative;
	height:50px;
	width:810px;
	//top:53px;
}

#log-in-out{
	position:absolute;
	top:0px;
	right:0px;
}

.align-right{
	text-align:right;
	top:-6px;
	position:relative;
}
///////////////////////////////////////////////////////////////////////////////////////////////////////////


.top_post{
	margin-top: 15px;
	position:relative;
	//right:-10px;
	//left:10px;
}

.top_post .message{
	display:block;
	padding-top:10px;
	padding-bottom:10px;

}

.top_post .image{
	padding-top:15px;
}
.top_post .photo{
	float:right;
	display:inline-block;
	position:relative;
	margin-left:5px;
	margin-top:5px;
	margin-right:5px;
}

.top_post .photo img{
	border: 5px solid @color-feed2;
}

.top_post .name{
	position:relative;
	margin-left:10px;
	display:inline-block;
	top:6px;
	float:left;
	//vertical-align:middle;

}

.top_post .name a{
	font: bold 14px Arial, Helvetica, sans-serif;

}

.top_post .social{
	position:relative;
	right:0px;
	text-align:right;
	//display:inline-block;
}

.top_post li{
	margin-bottom:20px;
	display:block;
	#gradient > .vertical(lighten(@color-feed, 5%) ,@color-background);
	//.border-radius(10px);
	//.rotate(-5deg);
	padding:10px;
	padding-right:20px;
	//border: 2px solid @color-feed;
	.box-shadow(3px 3px 3px  @color-badges);
}

.top_post .info{
	position:relative;
	display:block;

	width:100%;
	height:50px;
	//.border-radius(5px 0 0 5px);
	//#gradient > .horizontal(@color-base, @color-background );
	//.rotate(5deg);
}

.top_post .date{
	color:lighten(@color-text2, 15%);
}

.top_post .post{
	position:relative;
	
	margin-top:-15px;
	margin-right:5px;
	text-align:right;
	//.rotate(5deg);
}

.title-header.reverse{
	text-align:right;
	.border-radius(0px);
	#gradient > .horizontal( @color-background,@color-base );
	
}
.title-header.reverse h3{
	padding-right:10px;	
}
.span1.re{
	width:5px;
}
.span7.line{
	border-right:2px solid @color-badges;
	padding-right:45px;
}


