@media (max-width: 980px) {
  ul.nav.pull-right {
    display: none;
  }
  .nav-collapse ul.nav {
    margin-top: 15px;
  }
}
@media (min-width: 980px) {
  .nav-collapse {
    display: none;
  }
}
@media (max-width: 480px) {
  
}
@media (max-width: 768px) {
  
}
@media (min-width: 768px) and (max-width: 980px) {
  
}
@media (min-width: 1200px) {
  
}
.alert {
  position: fixed;
  right: 20px;
  margin: 0px;
  z-index: 9001;
}
.alert.alert-error {
  width: 300px;
}
.alert:nth-of-type(1) {
  top: 65px;
}
.alert:nth-of-type(2) {
  top: 130px;
}
.alert:nth-of-type(3) {
  top: 195px;
}
.alert:nth-of-type(4) {
  top: 260px;
}
.alert:nth-of-type(5) {
  top: 325px;
}
.alert:nth-of-type(6) {
  top: 390px;
}
.alert:nth-of-type(7) {
  top: 455px;
}
.alert:nth-of-type(8) {
  top: 520px;
}
.alert:nth-of-type(9) {
  top: 585px;
}
.alert:nth-of-type(10) {
  top: 650px;
}
.navbar-inner {
  background-image: none !important;
  background-color: white !important;
  color: white;
}
.navbar-inner [data-toggle="collapse"] {
  background-color: #a81e1e;
  background-image: none;
}
.navbar-inner a {
  color: #a81e1e !important;
}
.navbar-inner a:hover {
  color: #CCC !important;
}
.navbar-inner a.brand {
  margin-bottom: -25px;
}
.navbar-inner a.brand img {
  height: 40px;
}
[role="main"] {
  margin-top: 60px;
  margin-bottom: 60px;
}
.welcome {
  font: bold 14px Arial, Helvetica, sans-serif;
  color: #A81E1E;
}
.welcome p span {
  color: #000;
}
table {
  width: 100%;
}
table td {
  padding: 5px;
  min-width: 100px;
}
table td img {
  margin: 0 5px;
}
[controller="dashboard"][action="preview"] .container {
  height: 100%;
}
[controller="dashboard"][action="preview"] .install-header {
  text-align: center;
}
[controller="dashboard"][action="preview"] .install-header h1 {
  display: inline-block;
}
[controller="dashboard"][action="preview"] .install-header button {
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  font-size: 16px;
}
[controller="dashboard"][action="preview"] div#header {
  position: relative;
  width: 810px;
  height: 106px;
  background: url("../../img/bg_header.jpg") top left repeat-x;
}
[controller="dashboard"][action="preview"] div#logo {
  /*
			position:absolute;
			top:20px;
			left:3px;
			*/

  width: 202px;
  height: 120px;
  margin: 0 auto;
  background: url("../../img/logo2.png") bottom center no-repeat;
}
[controller="dashboard"][action="preview"] div#wrapper {
  position: relative;
  left: 50%;
  margin-left: -405px;
  width: 810px;
}
[controller="dashboard"][action="preview"] div#content {
  padding-top: 20px;
  width: 700px;
  margin: 0 auto;
}
[controller="dashboard"][action="preview"] #ranking h2 {
  border-bottom: 1px solid #CCC;
  color: #FFFFFF;
  font: bold 20px/400% Arial, Helvetica, sans-serif;
  height: 80px;
  padding: 0 0 0 110px;
}
[controller="dashboard"][action="preview"] #top_fans,
[controller="dashboard"][action="preview"] #fan_favorite,
[controller="dashboard"][action="preview"] #top_talker,
[controller="dashboard"][action="preview"] #top_clicker {
  position: relative;
}
[controller="dashboard"][action="preview"] #top_fans h2 span,
[controller="dashboard"][action="preview"] #fan_favorite h2 span,
[controller="dashboard"][action="preview"] #top_talker h2 span,
[controller="dashboard"][action="preview"] #top_clicker h2 span {
  font: 12px/680% Arial, Helvetica, sans-serif;
}
[controller="dashboard"][action="preview"] #top_fans#top_fans > h2,
[controller="dashboard"][action="preview"] #fan_favorite#top_fans > h2,
[controller="dashboard"][action="preview"] #top_talker#top_fans > h2,
[controller="dashboard"][action="preview"] #top_clicker#top_fans > h2 {
  background: url("../../img/header_top_fans.jpg") no-repeat scroll left top transparent;
}
[controller="dashboard"][action="preview"] #top_fans#fan_favorite > h2,
[controller="dashboard"][action="preview"] #fan_favorite#fan_favorite > h2,
[controller="dashboard"][action="preview"] #top_talker#fan_favorite > h2,
[controller="dashboard"][action="preview"] #top_clicker#fan_favorite > h2 {
  background: url("../../img/header_fan_favorite.jpg") no-repeat scroll left top transparent;
}
[controller="dashboard"][action="preview"] #top_fans#top_talker > h2,
[controller="dashboard"][action="preview"] #fan_favorite#top_talker > h2,
[controller="dashboard"][action="preview"] #top_talker#top_talker > h2,
[controller="dashboard"][action="preview"] #top_clicker#top_talker > h2 {
  background: url("../../img/header_top_talker.jpg") no-repeat scroll left top transparent;
}
[controller="dashboard"][action="preview"] #top_fans#top_clicker > h2,
[controller="dashboard"][action="preview"] #fan_favorite#top_clicker > h2,
[controller="dashboard"][action="preview"] #top_talker#top_clicker > h2,
[controller="dashboard"][action="preview"] #top_clicker#top_clicker > h2 {
  background: url("../../img/header_top_clicker.jpg") no-repeat scroll left top transparent;
}
[controller="dashboard"][action="preview"] .tip {
  position: absolute;
  right: 10px;
  top: 28px;
}
[controller="dashboard"][action="preview"] .tip a {
  background: none repeat scroll 0 0 #FFF;
  border: 1px solid #333;
  color: #333;
  cursor: pointer;
  display: block;
  font: bold 16px/100% Arial, Helvetica, sans-serif;
  height: 20px;
  padding: 3px 5px 0;
  text-decoration: none;
  width: 10px;
}
[controller="dashboard"][action="preview"] .tip a:hover {
  background: none repeat scroll 0 0 #333;
  border: 1px solid #FFF;
  color: #FFF;
}
[controller="dashboard"][action="preview"] .tooltip.in {
  opacity: 1.0;
  filter: alpha(opacity=100);
}
[controller="dashboard"][action="preview"] .tooltip-inner {
  max-width: 300px;
  padding: 15px 15px;
  text-align: left;
  font: bold 12px Arial;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
[controller="dashboard"][action="preview"] .border {
  border-bottom: 1px solid #CCC;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
  height: 80px;
}
[controller="dashboard"][action="preview"] .rank {
  background: none repeat scroll 0 0 #333;
  float: left;
  height: 80px;
  width: 60px;
}
[controller="dashboard"][action="preview"] .rank h2 {
  color: #FFFFFF;
  font: bold 20px/100% Arial, Helvetica, sans-serif;
  margin-bottom: 0;
  padding-right: 5px;
  text-align: right;
}
[controller="dashboard"][action="preview"] #ranking .rank h2 {
  background: url("../../img/icon_pound.jpg") no-repeat scroll left top transparent;
  border-bottom: medium none;
  color: #FFFFFF;
  font: bold 50px/100% Arial, Helvetica, sans-serif;
  height: 70px;
  padding: 15px 10px 0 0;
  text-align: right;
  width: 50px;
}
[controller="dashboard"][action="preview"] .photo {
  float: left;
  height: 80px;
  position: relative;
  width: 80px;
}
[controller="dashboard"][action="preview"] .photo .face {
  background: none repeat scroll 0 0 #666;
  left: 10px;
  padding: 5px;
  position: absolute;
  text-align: center;
  top: 10px;
}
[controller="dashboard"][action="preview"] .name {
  display: table;
  float: left;
  height: 60px;
  padding: 10px;
  width: 320px;
}
[controller="dashboard"][action="preview"] .name a {
  display: table-cell;
  font: bold 14px Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}
[controller="dashboard"][action="preview"] .first .name a {
  color: #A81E1E;
  font-size: 20px !important;
}
[controller="dashboard"][action="preview"] .points {
  color: #333333;
  display: table;
  float: left;
  height: 60px;
  padding: 10px 20px 10px 0;
  width: 158px;
}
[controller="dashboard"][action="preview"] .points p {
  display: table-cell;
  font: bold 32px/100% Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  text-align: right;
  vertical-align: middle;
}
[controller="dashboard"][action="preview"] .points span {
  float: right;
  font: 12px Arial, Helvetica, sans-serif;
  padding: 0 0 0 5px;
  text-align: left;
}
[controller="dashboard"][action="preview"] .panel {
  height: auto;
  overflow: hidden;
}
[controller="dashboard"][action="preview"] #top_fans .panel {
  display: block;
  overflow: hidden;
}
[controller="dashboard"][action="preview"] .shadow {
  background: url("../../img/bg_shadow.jpg") no-repeat scroll center top transparent;
  height: 36px;
  width: 700px;
}
[controller="dashboard"][action="preview"] .toggle {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none repeat scroll 0 0 #EEE;
  border-color: -moz-use-text-color #cccccc #cccccc;
  border-right: 1px solid #CCC;
  border-style: none solid solid;
  border-width: medium 1px 1px;
  color: #666;
  cursor: pointer;
  margin: 0 auto;
  padding: 8px 15px;
  text-align: center;
  width: 55px;
}
[controller="dashboard"][action="preview"] .toggle:hover {
  border-color: -moz-use-text-color #999999 #999999;
  border-right: 1px solid #999;
  border-style: none solid solid;
  border-width: medium 1px 1px;
  color: #333;
}
[controller='app'][action='topfans'] div#header,
[controller="index"][action='topfans'] div#header,
[controller='app'][action="index"] div#header,
[controller="index"][action="index"] div#header {
  position: relative;
  width: 810px;
  height: 106px;
  background: url("../../img/bg_header.jpg") top left repeat-x;
}
[controller='app'][action='topfans'] div#logo,
[controller="index"][action='topfans'] div#logo,
[controller='app'][action="index"] div#logo,
[controller="index"][action="index"] div#logo {
  /*
			position:absolute;
			top:20px;
			left:3px;
			*/

  width: 202px;
  height: 120px;
  margin: 0 auto;
  background: url("../../img/logo2.png") bottom center no-repeat;
}
[controller='app'][action='topfans'] div#wrapper,
[controller="index"][action='topfans'] div#wrapper,
[controller='app'][action="index"] div#wrapper,
[controller="index"][action="index"] div#wrapper {
  width: 810px;
}
[controller='app'][action='topfans'] div#content,
[controller="index"][action='topfans'] div#content,
[controller='app'][action="index"] div#content,
[controller="index"][action="index"] div#content {
  padding-top: 20px;
  width: 700px;
  margin: 0 auto;
}
[controller='app'][action='topfans'] #ranking h2,
[controller="index"][action='topfans'] #ranking h2,
[controller='app'][action="index"] #ranking h2,
[controller="index"][action="index"] #ranking h2 {
  border-bottom: 1px solid #CCC;
  color: #FFFFFF;
  font: bold 20px/400% Arial, Helvetica, sans-serif;
  height: 80px;
  padding: 0 0 0 110px;
}
[controller='app'][action='topfans'] #top_fans,
[controller="index"][action='topfans'] #top_fans,
[controller='app'][action="index"] #top_fans,
[controller="index"][action="index"] #top_fans,
[controller='app'][action='topfans'] #fan_favorite,
[controller="index"][action='topfans'] #fan_favorite,
[controller='app'][action="index"] #fan_favorite,
[controller="index"][action="index"] #fan_favorite,
[controller='app'][action='topfans'] #top_talker,
[controller="index"][action='topfans'] #top_talker,
[controller='app'][action="index"] #top_talker,
[controller="index"][action="index"] #top_talker,
[controller='app'][action='topfans'] #top_clicker,
[controller="index"][action='topfans'] #top_clicker,
[controller='app'][action="index"] #top_clicker,
[controller="index"][action="index"] #top_clicker {
  position: relative;
}
[controller='app'][action='topfans'] #top_fans h2 span,
[controller="index"][action='topfans'] #top_fans h2 span,
[controller='app'][action="index"] #top_fans h2 span,
[controller="index"][action="index"] #top_fans h2 span,
[controller='app'][action='topfans'] #fan_favorite h2 span,
[controller="index"][action='topfans'] #fan_favorite h2 span,
[controller='app'][action="index"] #fan_favorite h2 span,
[controller="index"][action="index"] #fan_favorite h2 span,
[controller='app'][action='topfans'] #top_talker h2 span,
[controller="index"][action='topfans'] #top_talker h2 span,
[controller='app'][action="index"] #top_talker h2 span,
[controller="index"][action="index"] #top_talker h2 span,
[controller='app'][action='topfans'] #top_clicker h2 span,
[controller="index"][action='topfans'] #top_clicker h2 span,
[controller='app'][action="index"] #top_clicker h2 span,
[controller="index"][action="index"] #top_clicker h2 span {
  font: 12px/680% Arial, Helvetica, sans-serif;
}
[controller='app'][action='topfans'] #top_fans#top_fans > h2,
[controller="index"][action='topfans'] #top_fans#top_fans > h2,
[controller='app'][action="index"] #top_fans#top_fans > h2,
[controller="index"][action="index"] #top_fans#top_fans > h2,
[controller='app'][action='topfans'] #fan_favorite#top_fans > h2,
[controller="index"][action='topfans'] #fan_favorite#top_fans > h2,
[controller='app'][action="index"] #fan_favorite#top_fans > h2,
[controller="index"][action="index"] #fan_favorite#top_fans > h2,
[controller='app'][action='topfans'] #top_talker#top_fans > h2,
[controller="index"][action='topfans'] #top_talker#top_fans > h2,
[controller='app'][action="index"] #top_talker#top_fans > h2,
[controller="index"][action="index"] #top_talker#top_fans > h2,
[controller='app'][action='topfans'] #top_clicker#top_fans > h2,
[controller="index"][action='topfans'] #top_clicker#top_fans > h2,
[controller='app'][action="index"] #top_clicker#top_fans > h2,
[controller="index"][action="index"] #top_clicker#top_fans > h2 {
  background: url("../../img/header_top_fans.jpg") no-repeat scroll left top transparent;
}
[controller='app'][action='topfans'] #top_fans#fan_favorite > h2,
[controller="index"][action='topfans'] #top_fans#fan_favorite > h2,
[controller='app'][action="index"] #top_fans#fan_favorite > h2,
[controller="index"][action="index"] #top_fans#fan_favorite > h2,
[controller='app'][action='topfans'] #fan_favorite#fan_favorite > h2,
[controller="index"][action='topfans'] #fan_favorite#fan_favorite > h2,
[controller='app'][action="index"] #fan_favorite#fan_favorite > h2,
[controller="index"][action="index"] #fan_favorite#fan_favorite > h2,
[controller='app'][action='topfans'] #top_talker#fan_favorite > h2,
[controller="index"][action='topfans'] #top_talker#fan_favorite > h2,
[controller='app'][action="index"] #top_talker#fan_favorite > h2,
[controller="index"][action="index"] #top_talker#fan_favorite > h2,
[controller='app'][action='topfans'] #top_clicker#fan_favorite > h2,
[controller="index"][action='topfans'] #top_clicker#fan_favorite > h2,
[controller='app'][action="index"] #top_clicker#fan_favorite > h2,
[controller="index"][action="index"] #top_clicker#fan_favorite > h2 {
  background: url("../../img/header_fan_favorite.jpg") no-repeat scroll left top transparent;
}
[controller='app'][action='topfans'] #top_fans#top_talker > h2,
[controller="index"][action='topfans'] #top_fans#top_talker > h2,
[controller='app'][action="index"] #top_fans#top_talker > h2,
[controller="index"][action="index"] #top_fans#top_talker > h2,
[controller='app'][action='topfans'] #fan_favorite#top_talker > h2,
[controller="index"][action='topfans'] #fan_favorite#top_talker > h2,
[controller='app'][action="index"] #fan_favorite#top_talker > h2,
[controller="index"][action="index"] #fan_favorite#top_talker > h2,
[controller='app'][action='topfans'] #top_talker#top_talker > h2,
[controller="index"][action='topfans'] #top_talker#top_talker > h2,
[controller='app'][action="index"] #top_talker#top_talker > h2,
[controller="index"][action="index"] #top_talker#top_talker > h2,
[controller='app'][action='topfans'] #top_clicker#top_talker > h2,
[controller="index"][action='topfans'] #top_clicker#top_talker > h2,
[controller='app'][action="index"] #top_clicker#top_talker > h2,
[controller="index"][action="index"] #top_clicker#top_talker > h2 {
  background: url("../../img/header_top_talker.jpg") no-repeat scroll left top transparent;
}
[controller='app'][action='topfans'] #top_fans#top_clicker > h2,
[controller="index"][action='topfans'] #top_fans#top_clicker > h2,
[controller='app'][action="index"] #top_fans#top_clicker > h2,
[controller="index"][action="index"] #top_fans#top_clicker > h2,
[controller='app'][action='topfans'] #fan_favorite#top_clicker > h2,
[controller="index"][action='topfans'] #fan_favorite#top_clicker > h2,
[controller='app'][action="index"] #fan_favorite#top_clicker > h2,
[controller="index"][action="index"] #fan_favorite#top_clicker > h2,
[controller='app'][action='topfans'] #top_talker#top_clicker > h2,
[controller="index"][action='topfans'] #top_talker#top_clicker > h2,
[controller='app'][action="index"] #top_talker#top_clicker > h2,
[controller="index"][action="index"] #top_talker#top_clicker > h2,
[controller='app'][action='topfans'] #top_clicker#top_clicker > h2,
[controller="index"][action='topfans'] #top_clicker#top_clicker > h2,
[controller='app'][action="index"] #top_clicker#top_clicker > h2,
[controller="index"][action="index"] #top_clicker#top_clicker > h2 {
  background: url("../../img/header_top_clicker.jpg") no-repeat scroll left top transparent;
}
[controller='app'][action='topfans'] .tip,
[controller="index"][action='topfans'] .tip,
[controller='app'][action="index"] .tip,
[controller="index"][action="index"] .tip {
  position: absolute;
  right: 10px;
  top: 28px;
  background: green;
}
[controller='app'][action='topfans'] .tip a,
[controller="index"][action='topfans'] .tip a,
[controller='app'][action="index"] .tip a,
[controller="index"][action="index"] .tip a {
  background: none repeat scroll 0 0 #FFF;
  border: 1px solid #333;
  color: #333;
  cursor: pointer;
  display: block;
  font: bold 16px/100% Arial, Helvetica, sans-serif;
  height: 20px;
  padding: 3px 5px 0;
  text-decoration: none;
  width: 10px;
}
[controller='app'][action='topfans'] .tip a:hover,
[controller="index"][action='topfans'] .tip a:hover,
[controller='app'][action="index"] .tip a:hover,
[controller="index"][action="index"] .tip a:hover {
  background: none repeat scroll 0 0 #333;
  border: 1px solid #FFF;
  color: #FFF;
}
[controller='app'][action='topfans'] .tooltip.in,
[controller="index"][action='topfans'] .tooltip.in,
[controller='app'][action="index"] .tooltip.in,
[controller="index"][action="index"] .tooltip.in {
  opacity: 1.0;
  filter: alpha(opacity=100);
}
[controller='app'][action='topfans'] .tooltip-inner,
[controller="index"][action='topfans'] .tooltip-inner,
[controller='app'][action="index"] .tooltip-inner,
[controller="index"][action="index"] .tooltip-inner {
  max-width: 300px;
  padding: 15px 15px;
  text-align: left;
  font: bold 12px Arial;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
[controller='app'][action='topfans'] .border,
[controller="index"][action='topfans'] .border,
[controller='app'][action="index"] .border,
[controller="index"][action="index"] .border {
  border-bottom: 1px solid #CCC;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
  height: 80px;
}
[controller='app'][action='topfans'] .rank,
[controller="index"][action='topfans'] .rank,
[controller='app'][action="index"] .rank,
[controller="index"][action="index"] .rank {
  background: none repeat scroll 0 0 #333;
  float: left;
  height: 80px;
  width: 60px;
}
[controller='app'][action='topfans'] .rank h2,
[controller="index"][action='topfans'] .rank h2,
[controller='app'][action="index"] .rank h2,
[controller="index"][action="index"] .rank h2 {
  color: #FFFFFF;
  font: bold 20px/100% Arial, Helvetica, sans-serif;
  margin-bottom: 0;
  padding-right: 5px;
  text-align: right;
}
[controller='app'][action='topfans'] #ranking .rank h2,
[controller="index"][action='topfans'] #ranking .rank h2,
[controller='app'][action="index"] #ranking .rank h2,
[controller="index"][action="index"] #ranking .rank h2 {
  background: url("../../img/icon_pound.jpg") no-repeat scroll left top transparent;
  border-bottom: medium none;
  color: #FFFFFF;
  font: bold 50px/100% Arial, Helvetica, sans-serif;
  height: 70px;
  padding: 15px 10px 0 0;
  text-align: right;
  width: 50px;
}
[controller='app'][action='topfans'] .photo,
[controller="index"][action='topfans'] .photo,
[controller='app'][action="index"] .photo,
[controller="index"][action="index"] .photo {
  float: left;
  height: 80px;
  position: relative;
  width: 80px;
}
[controller='app'][action='topfans'] .photo .face,
[controller="index"][action='topfans'] .photo .face,
[controller='app'][action="index"] .photo .face,
[controller="index"][action="index"] .photo .face {
  background: none repeat scroll 0 0 #666;
  left: 10px;
  padding: 5px;
  position: absolute;
  text-align: center;
  top: 10px;
}
[controller='app'][action='topfans'] .name,
[controller="index"][action='topfans'] .name,
[controller='app'][action="index"] .name,
[controller="index"][action="index"] .name {
  display: table;
  float: left;
  height: 60px;
  padding: 10px;
  width: 320px;
}
[controller='app'][action='topfans'] .name a,
[controller="index"][action='topfans'] .name a,
[controller='app'][action="index"] .name a,
[controller="index"][action="index"] .name a {
  display: table-cell;
  font: bold 14px Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}
[controller='app'][action='topfans'] .first .name a,
[controller="index"][action='topfans'] .first .name a,
[controller='app'][action="index"] .first .name a,
[controller="index"][action="index"] .first .name a {
  color: #A81E1E;
  font-size: 20px !important;
}
[controller='app'][action='topfans'] .points,
[controller="index"][action='topfans'] .points,
[controller='app'][action="index"] .points,
[controller="index"][action="index"] .points {
  color: #333333;
  display: table;
  float: left;
  height: 60px;
  padding: 10px 20px 10px 0;
  width: 158px;
}
[controller='app'][action='topfans'] .points p,
[controller="index"][action='topfans'] .points p,
[controller='app'][action="index"] .points p,
[controller="index"][action="index"] .points p {
  display: table-cell;
  font: bold 32px/100% Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  text-align: right;
  vertical-align: middle;
}
[controller='app'][action='topfans'] .points span,
[controller="index"][action='topfans'] .points span,
[controller='app'][action="index"] .points span,
[controller="index"][action="index"] .points span {
  float: right;
  font: 12px Arial, Helvetica, sans-serif;
  padding: 0 0 0 5px;
  text-align: left;
}
[controller='app'][action='topfans'] .panel,
[controller="index"][action='topfans'] .panel,
[controller='app'][action="index"] .panel,
[controller="index"][action="index"] .panel {
  height: auto;
  overflow: hidden;
}
[controller='app'][action='topfans'] #top_fans .panel,
[controller="index"][action='topfans'] #top_fans .panel,
[controller='app'][action="index"] #top_fans .panel,
[controller="index"][action="index"] #top_fans .panel {
  display: block;
  overflow: hidden;
}
[controller='app'][action='topfans'] .shadow,
[controller="index"][action='topfans'] .shadow,
[controller='app'][action="index"] .shadow,
[controller="index"][action="index"] .shadow {
  background: url("../../img/bg_shadow.jpg") no-repeat scroll center top transparent;
  height: 36px;
  width: 700px;
}
[controller='app'][action='topfans'] .toggle,
[controller="index"][action='topfans'] .toggle,
[controller='app'][action="index"] .toggle,
[controller="index"][action="index"] .toggle {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none repeat scroll 0 0 #EEE;
  border-color: -moz-use-text-color #cccccc #cccccc;
  border-right: 1px solid #CCC;
  border-style: none solid solid;
  border-width: medium 1px 1px;
  color: #666;
  cursor: pointer;
  margin: 0 auto;
  padding: 8px 15px;
  text-align: center;
  width: 55px;
}
[controller='app'][action='topfans'] .toggle:hover,
[controller="index"][action='topfans'] .toggle:hover,
[controller='app'][action="index"] .toggle:hover,
[controller="index"][action="index"] .toggle:hover {
  border-color: -moz-use-text-color #999999 #999999;
  border-right: 1px solid #999;
  border-style: none solid solid;
  border-width: medium 1px 1px;
  color: #333;
}
[module="app"][controller="index"][action="login"] [role="main"] .login-wrapper {
  border: 1px solid #555;
  height: 250px;
  width: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -185px;
  margin-left: -225px;
}
[module="app"][controller="index"][action="login"] [role="main"] .login-wrapper button {
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -26px;
  margin-top: -14;
}
