.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
	background: white;
}

.install-header {
	margin-top: 100px;
}

.setting_menu {
	position: fixed;
	left: 15px;
	top: 150px;
	margin-bottom: 0;
	z-index: 1040;
}
