/* app css stylesheet */

span.numbers {
	position: absolute;
	margin-left : 25px;
	margin-top: 25px;
	font-size: 80px;	
}

span.mid-numbers {
	position: absolute;
	margin-left : 25px;
	margin-top : 10px;
	font-size: 60px;
	opacity: 0.85;	
}

.bg-color-mail-tile {
	background: #B8BBBE !important;	
}

ul.specs {
  clear: both;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.specs > li{
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

ul.specs > li > span{
  font-weight: bold;
  font-size: 1.2em;
}

ul.specs dt {
  font-weight: bold;
}

h1 {
  border-bottom: 1px solid gray;
}
