<?xml version="1.0" encoding="UTF-8"?>
<superusers>
	<internal>
		<user>
			<name>stephen</name>
			<password>stephen@fancrank.com</password>
		</user>
		<user>
			<name>dan</name>
			<password>dan</password>
		</user>
		<user>
			<name>mannix</name>
			<password>mannix</password>
		</user>				
	</internal>
</superusers>